# Dependencies
node_modules/

# Build output
out/
dist-electron/
release/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.swp
*.swo

# Electron
/dist_electron/

# Environment
.env
